@import "tailwindcss";

*{
    text-decoration: none;
      
}

body {
  margin: 0;
  background: var(--background);
 /*  background: linear-gradient(45deg, #7dc1df 60%, #FFEED0); */
  background-repeat: no-repeat;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}