.content{
display: flex;
flex-wrap: wrap;
}

.bloco{
    display: flex;
    flex-direction: column;
    background-color:rgba(31, 47, 83, 0.699);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 15px 30px;
    border-radius: 10px 5px;
    min-width: 250px;
    width: fit-content;
    gap: 10px;
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0)  ;
}

.bloco2{
    display: flex;
    flex-direction: column;
    background-color:rgba(31, 47, 83, 0.808);
    padding: 20px;
    margin: 15px 30px;
    border-radius: 10px 5px;
    min-width: 650px;
    width: fit-content;
    gap: 10px;
    box-shadow: 5px 5px 15px 0px rgb(0, 0, 0)  ;
}

.blocoCtitulo{
    font-weight: 200;

    & hr{
        border: 1px solid rgba(128, 128, 128, 0.301);
    }

    & select{
        margin: 5px 15px;
        padding: 3px 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 58, 0.363);
    }
}

.tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: var(--titulo-texto);
    font-weight: 400;
    margin-bottom: 20px;
}

.parametros{
    flex-direction: column;
    margin-top: 0px ;
}

.input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 12, 53);
    padding: 5px 10px;
    margin: 10px 10px;
    width: 130px;
}

.input:focus, .input:active{
    outline: none;
    box-shadow: 0px 0px 10px -6px ;
    border-radius: 10px;
    }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:disabled{
    border: none;
}

.label{
    font-weight: 100;
    display: inline-block;
    min-width: 110px;
}